<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="Navig">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Learning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/mein">Messages</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/">Start</a>
                </li>
                <li class="nav-item active" th:if="${userRole}">
                    <a class="nav-link" aria-current="page" href="/user">User list</a>
                </li>
                <li class="nav-item active" th:if="${signOut}">
                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
                </li>
            </ul>
        </div>
        <div class="navbar-text me-3" th:text="${activeUser}"></div>
        <div th:if="${signOut}">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary" type="submit">Sign Out</button>
            </form>
        </div>
        <div th:if="${signOut == false}">
            <form action="/login">
                <button class="btn btn-primary" type="submit">Sign In</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</nav>

<div class="container mt-5">
<h1>Hello user!</h1>
    <p>It's learning site for web programming</p>
</div>


</body>
</html>